{%extends 'partials/base.html'%}
{%load static%}

{%block content%}
        <!-- Start home section -->
       
        <!-- End home section -->

        <!-- Service section start -->
            {%include 'partials/servico.html'%}
        <!-- Service section end -->

        <!-- Service section start -->
            {%include 'partials/servico2.html'%}
        <!-- Service section end -->
        <!-- Service section start -->
            {%include 'partials/servico3.html'%}
        <!-- Service section end -->
        
        <!-- Portfolio section start -->
            {%include 'partials/portfolio.html'%}
        <!-- Portfolio section end -->
        <!-- About us section start -->
            {%include 'partials/equipe.html'%}
        <!-- About us section end -->


        <div class="section secondary-section">
            <div class="triangle"></div>
            <div class="container centered">
                <p class="large-text">"As tecnologias disruptivas seguem um padrão: 
                primeiro são rejeitadas, depois são contestadas e, por fim, se tornam óbvias." - Peter Diamandis</p>
                <a href="#" class="button">Voltar para o topo</a>
            </div>
        </div>
        <!-- Client section start -->
        <!-- Client section start -->
        
        <!-- Price section start -->
      
        <!-- Price section end -->
        <!-- Newsletter section start -->
     
        <!-- Newsletter section end -->
        <!--chamada section start-->
        
        <!--chamada section end-->


        <!-- Contact section start -->
            
        <!-- Contact section edn -->
        <!-- Footer section start -->
            {%include 'partials/rodape.html'%}
        <!-- Footer section end -->
       {%endblock%}