{% load static compress %}
<div id="home">
    <!-- Start cSlider -->
    <div id="da-slider" class="da-slider">
        <div class="triangle"></div>
        <!-- mask elemet use for masking background image -->
        <div class="mask"></div>
        <!-- All slides centred in container element -->
        <div class="container">
            <!-- Start first slide -->
            <div class="da-slide">
                <h2 class="fittext2">Smart Traffic</h2>
                <h4>Contribuindo para um trânsito inteligente</h4>
                <p>Os semáforos inteligentes trazem diversos benefícios. Eles melhoram a fluidez do tráfego,
                reduzem o congestionamento e os tempos de espera. Além disso, otimizam a coordenação entre os
                semáforos, adaptando-se em tempo real às condições de tráfego. Essa tecnologia contribui para
                aumentar a segurança nas vias, diminuir a poluição do ar e facilitar a mobilidade urbana.
                Com recursos avançados, como sensores e algoritmos inteligentes, os semáforos inteligentes
                 representam uma solução moderna e eficiente para o controle do tráfego nas cidades.</p>
                <a href="#" class="da-link button">Leia mais</a>
                <div class="da-img">
                    <img src="{% static 'images/slideCaminhao.png' %}" width="320" alt="image02">
                </div>
            </div>
            <!-- End first slide -->
            <!-- Start second slide -->
            <div class="da-slide">
                <h2>Maior Segurança</h2>
                <h4>máforos inteligentes: Segurança viária aprimorada.</h4>
                <p>Os semáforos inteligentes reforçam a segurança viária. Com recursos como detecção
                de pedestres e veículos, eles melhoram a priorização de fluxos, reduzem conflitos e aumentam
                a visibilidade. Além disso, permitem a implementação de medidas adaptativas em tempo real,
                minimizando riscos e melhorando a segurança nas interseções.</p>
                <a href="#" class="da-link button">Leia mais</a>
                <div class="da-img">
                    <img src="{%static 'images/slideGuarda.png' %}" alt="image01" width="320">                    
                </div>
            </div>
            <!-- End second slide -->
            <!-- Start third slide -->
            <div class="da-slide">
                <h2>Semaforos convencionais</h2>
                <h4>Transtornos causados pelos modelos atuais</h4>
                <p>Os semáforos atuais apresentam alguns problemas. Eles geram congestionamentos e longos tempos
                de espera, resultando em atrasos no trânsito. Além disso, a falta de sincronização entre
                semáforos causa interrupções frequentes, dificultando a fluidez do tráfego. Os semáforos
                convencionais também não conseguem se adaptar às mudanças nas condições do trânsito, o que pode
                levar a situações de risco. Esses problemas impactam negativamente a eficiência e a segurança do
                sistema viário.</p>
                <a href="#" class="da-link button">Leia mais</a>
                <div class="da-img">
                    <img src="{% static 'images/slideSemaforo.png' %}" width="320" alt="image03">
                </div>
            </div>
            <!-- Start third slide -->
            <!-- Start cSlide navigation arrows -->
            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </div>
            <!-- End cSlide navigation arrows -->
        </div>
    </div>
</div>