{%load static%}
<footer id="footer" class="footer-area section-padding"  style="background-color: #181A1C; color: white;">
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="">
            <div class="widget">
              <h3 class="footer-logo"><img src="{% static 'images/logoMelhorada2.png' %}" alt=""></h3>
              <div class="textwidget">
                <p>Criamos essa página com o objetivo de apresentar uma breve introdução ao nosso projeto e
                  nossos objetos com o mesmo, esperamos que ele já esteja disponível para implementação imediata até 2024.
                </p>
              </div>

              <div class="container">
                <style>
                  .coluna {
                    display: inline-block;
                    width: 33%;
                    vertical-align: top;
                  }
                  .sla li a, p a{
                    color: white;
                  }
                  .sla li a:hover {
                    color: yellow;
                  }
                  .copyright-content {
                     text-align: center;
                    }
                </style>
                <div class="coluna">
                  <h3 class="footer-titel">Emails de contato</h3>
                  <ul class="sla" >
                    <li><a href="mailto:weslleuwilker10@gmail.com">weslleywilker10@gmail.com</a></li>
                    <li><a href="mailto:biel20cp@gmail.com">biel20cp@gmail.com</a></li>
                    <li><a href="mailto:suzanasouza.caetano@gmail.com">suzanasouza.caetano@gmail.com</a></li>
                    <li><a href="mailto:professor@wilsonamaral.com.br">professor@wilsonamaral.com.br</a></li>                    
                  </ul>
                </div>
                <div class="coluna">
                  <h3 class="footer-titel">Resources</h3>
                  <ul class="sla">
                    <li><a href="#">Payment Options</a></li>
                    <li><a href="#">Fee Schedule</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">Identity Verification</a></li>
                  </ul>
                </div>
                <div class="coluna">
                  <h3 class="footer-titel"></h3>
                  <ul class="sla">
                    <li>
                      <a href="#"><i class="lni-map-marker"></i> </a>
                    </li>
                    <li>
                      <a href="#"><i class="lni-phone-handset"></i> P: +84 846 250 592</a>
                    </li>
                    <li>
                      <a href="#"><i class="lni-envelope"></i> E: contact@uideck.com</a>
                    </li>
                  </ul>
                </div>
              </div>
              
                      <!--Redes sociais-->
                      <div class="container" style="margin-top: 60px;">
                      <ul class="social">
                        <li>
                            <a href="">
                                <span class="icon-facebook-circled"></span>        
                            </a>
                        </li>
                        <li>
                          <a href="">
                            <span class="icon-vimeo-circled"></span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <span class="icon-twitter-circled"></span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <span class="icon-skype-circled"></span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <span class="icon-gplus-circled"></span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <span class="icon-pinterest-circled"></span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <span class="icon-lastfm-circled"></span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <span class="icon-linkedin-circled"></span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <span class="icon-dribbble-circled"></span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <span class="icon-stumbleupon-circled"></span>
                          </a>
                        </li>
                      </ul>
                    </div>
                      <!--Final redes sociais-->
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="sla">
            <div class="copyright-content">
              <p>Acesse o projeto em <a href="https://github.com/WilkerMonky/SiteSmartTraffic">Github</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
     
  </footer> 