{%load static %}
<div class="section primary-section" id="service">
    <div class="title">
    </div>
    <div class="container">
        <!-- Start title section -->

        <div class="row-fluid">

            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="{% static 'images/amareloCpp.png' %}" alt="service 1">
                    </div>
                    <h3 style="color: yellow;">C++</h3>
                    <p>C++ é amplamente utilizado em sistemas embarcados devido à sua eficiência e controle de recursos. </p>
                </div>
            </div>
            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="{%static 'images/amareloArduino.png' %}" alt="service 2" />
                    </div>
                    <h3 style="color: yellow;">Arduino</h3>
                    <p> Arduino é uma plataforma de prototipagem eletrônica de código aberto que combina hardware e software.
                        Ela permite criar e controlar dispositivos interativos e autônomos de forma acessível.</p>
                </div>
            </div>
            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="{%static 'images/amareloSensor.png' %}" alt="service 3">
                    </div>
                    <h3 style="color: yellow;">Sensores</h3>
                    <p>Utilizados com Arduino para detectar e medir o fluxo das vias. Eles enviarão sinais ao Arduino,
                    que interpretará esses dados e realizará ações com base nas leituras dos sensores.</p>
                </div>
            </div>

            
        </div>

    </div>

        
  
</div>