{%load static %}
<div class="section primary-section" id="service">
    <div class="title">
        <h2>Soluções</h2>
    </div>   
    <div class="container">
        <!-- Start title section -->
       
        <div class="row-fluid">

            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="{% static 'images/verdeCarro.png' %}" alt="service 1">
                    </div>
                    <h3 style="color: green">Trânsito Fluido</h3>
                    <p>Com uma maior adaptabilidade ao fluxo de veículos, o tráfego será continuo em vias mais movimentadas,
                        gerando maior fluidez.</p>
                </div>
            </div>
            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="{%static 'images/verdeFolha.png' %}" alt="service 2" />
                    </div>
                    <h3 style="color: green;">Powerfull Theme</h3>
                    <p>We Create Modern And Powerful Theme With Lots Animation And Features</p>
                </div>
            </div>
            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="{%static 'images/verdeFlor.png' %}" alt="service 3">
                    </div>
                    <h3 style="color: green;">Sustentabilidade</h3>
                    <p> O Smart Traffic se adapta fluxo de tráfego em tempo real, reduzindo os tempos de espera e minimizando
                        o consumo desnecessário de combustível e as emissões de poluentes</p>
                </div>
            </div>

            
        </div>

    </div>

        

</div>