{% load static compress %}
<div class="section primary-section" id="utilidade">
    <div class="container">
        <!-- Start title section -->
        <div class="title">
            <h1>O que fazemos?</h1>
            <!-- Section's title goes here -->
            <p>O Smart traffic utiliza sensores e comunicação para
                coletar informações em tempo real sobre o tráfego, a fim de tomar decisões mais precisas
                e adaptáveis em relação à sinalização de trânsito, podendo ser programado para atender
                as necessidades específicas de cada local, como por exemplo em áreas com um fluxo
                maior de transeuntes, os ajustes automatizados feitos por software poderiam estender o
                tempo de pausa (representado pela cor vermelha), bem como em uma via com um grande
                
                fluxo de veículos, aplicar o inverso fazendo com que este tempo seja reduzido, diminuindo
                o tempo de espera dos motoristas aumentando a segurança e fluidez do tráfego.
                Alguns semáforos inteligentes também poderiam utilizar sistemas de comunicação sem fio
                para compartilhar informações com outros semáforos próximos e coordenar o tempo de
                sinalização entre eles.</p>
            <!--Simple description for section goes here. -->
        </div>
        <div class="row-fluid">

            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="{% static 'images/vermelhoCarro.png' %}" alt="service 1">
                    </div>
                    <h3 style="color: red;">Trânsito Lento</h3>
                    <p>Como os semaforos atuais não se adaptam ao fluxo de veículos da via,
                    o trânsito se torna extremamente lento e incômodo.</p>
                </div>
            </div>
            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="{%static 'images/vermelhoEngrenagem.png' %}" alt="service 2" />
                    </div>
                    <h3 style="color: red;">Manutenção</h3>
                    <p>Devido a falta de otimização os semáforos apresentam problemas técnicos com maior frequência,
                        o que acarreta em maiores gastos com manutenção.
                    </p>
                </div>
            </div>
            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="{%static 'images/vermelhoFlor.png' %}" alt="service 3">
                    </div>
                    <h3 style="color: red;">Poluição</h3>
                    <p>
                        Semáforos tradicionais causam poluição devido ao constante funcionamento dos motores
                        dos veículos enquanto esperam. Isso resulta em emissões de gases poluentes</p>
                </div>
            </div>

            
        </div>

    </div>

    
    
</div>